.test{
  width: 100px;
  height: 100px;
  color: white;
  background: deepskyblue;
  border-radius: 5px;
  box-shadow: 0 0 15px -5px rgba(0,0,0,.2);
  text-align: center;
  line-height: 100px;
}
