.button{
  width: 100px;
  height: 32px;
  background: deepskyblue;
  outline: none;
  color: rgba(255,255,255,.6);
  border: 1px solid dodgerblue;
  box-shadow: 0 0 10px -5px rgba(0,0,0,.2);
  border-radius: 5px;
  transition: all .5s;
  &:active{
    background:blueviolet;
    color: white;
  }
}